header.site-header
  a.site-header__item.logo(href='/')
    img(src='/assets/img/logo.svg', alt='logo')

  nav.site-header__item.nav
    a.button.button--blank(href='/login') Create account
    a.button.button--primary(href='/login') Login
