header.header.site-header

  //- logo
  a.site-header__item.site-header__logo
    img(src='/assets/img/logo.svg', alt='logo')

  //- nav
  .site-header__item.site-header__menu
    p.current-route.h3.
      #{routeName}
    nav


