h2 Change password
form.change-password(name='changePass', method='put', action='/user/password')
  .form__item
    input(type='password', name='currentPass', placeholder='Current password')
  .form__item
    input(type='password', name='newPass', placeholder='New password')
  .form__item.hidden.csrf
    input(type='hidden', name='_csrf', value=req.csrfToken())
    input(type='hidden', name='_form', value='changePass')
  .form__item
    button(type='submit') Confirm
  if message
    .form__item
      p #{message}
