nav.main-nav
  a.main-nav__item(href='/') Home
  if !req.user
    a.main-nav__item(href='/login') Login
    a.main-nav__item(href='/signup') Signup
  else
    a.main-nav__item(href='/invoices') Invoices
    a.main-nav__item(href='/clients') Clients
    a.main-nav__item(href='/config') Configuration
    a.main-nav__item(href='/settings') Settings
    a.main-nav__item(href='/logout') Logout
