nav.main-nav(class=routeName.join(' '))
  if req.user
    a.main-nav_item.create.button(href='/invoices/create')
      span.typcn.typcn-plus
      | New Invoice
    a.main-nav__item.dashboard(href='/dashboard') Dashboard
    a.main-nav__item.invoices(href='/invoices') Invoices
    a.main-nav__item.clients(href='/clients') Clients
    a.main-nav__item.configuration(href='/configuration') Configuration
    .main-nav__item.main-nav__item--submenu.configuration
      a.main-nav__item.services(href='/configuration/services') Services
      a.main-nav__item.addresses(href='/configuration/addresses') Addresses
      a.main-nav__item.payment(href='/configuration/payment') Payment details
    a.main-nav__item.settings(href='/settings') Account settings
    a.main-nav__item(href='/logout') Logout
