nav.main-nav
  if req.user
    a.main-nav_item.create.button.button--primary(href='/invoices/create')
      span.typcn.typcn-edit
      | Invoice
    a.main-nav__item(href='/dashboard') Dashboard
    a.main-nav__item(href='/invoices') Invoices
    a.main-nav__item(href='/clients') Clients
    a.main-nav__item(href='/config') Configuration
    a.main-nav__item(href='/settings') Settings
    a.main-nav__item(href='/logout') Logout
