body
  font-family fontFamily-sans
  font-size fontSize-base
  font-weight 300
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  font-smoothing antialiased

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-family fontFamily-sans
  font-weight 500

h1, .h1,
h2, .h2,
h3, .h3
  line-height lineHeight-tight

h1, .h1
  font-size fontSize-h1

h2, .h2
  font-size fontSize-h2

h3, .h3
  font-size fontSize-h3

h4, .h4
  font-size fontSize-h4

h5, .h5
  font-size fontSize-h5

h6, .h6
  font-size fontSize-h6

small
  font-size fontSize-small

a, a:visited
  cursor pointer
  text-decoration none
a:hover
  text-decoration underline
