sections = dashboard, invoices, clients, configuration, services, addresses, payment, settings

aside.scaffold__item

  .aside__logo
    display block
    line-height 0
    margin 0 0 2em
    img
      height 55px
      padding 0 3px

  .main-nav
    a:not(.button)
      display block
      padding 0.25em 0
      font-size $font-base*0.9
      font-weight normal
    .create
      margin 0 auto 1em
      .typcn
        margin-right 0.5em
        margin-left -0.5em

    &__item--submenu
      display none
      margin-left 0.25em
      padding-left 0.75em
      border-left 2px solid $color--grey-light


    // active class to active nav section
    for section, i in sections
      &.{section}
        .{section}
          display block
          color #444
          font-weight bold
          text-decoration none

