.site-footer
  background-color $color--grey-light
  padding 1.5em 0
  &__logo
    height 50px
    display block
    margin auto
    filter grayscale(100%)
    opacity 0.3
    transition all 0.25s linear

  &:hover
    .site-footer__logo
      filter none
      opacity 0.75
