extends ../layout

include ../components/form/client
include ../components/clients

append main

  nav.tabs
    a.tabs__item.active.
      Existing clients
    a.tabs__item
      span.typcn.typcn-user-add.icon
      | Add new

  if clients
    h1 Clients (#{clients.length})
    ul.client-list
      for client in clients
        +clientList(client)

  form(name='createClient', method='post', action='/clients')
    +clientForm()
  - var c = JSON.stringify(clients)
  textarea(style='font-family: monospace') #{c}
