extends ../layout

include ../blocks/form/client
include ../blocks/clients

append main

  .tabs.clients
    .tabs__title
      h1.h3
       | Clients 
       if clients.length
         small (#{clients.length})

    nav.tabs__nav
      a.active(data-target='existing') Existing clients
      a(data-target='new') + Add new

  if clients
    h1 Clients (#{clients.length})
    ul.client-list
      for client in clients
        +clientList(client)

  form(name='createClient', method='post', action='/clients')
    +clientForm()
  - var c = JSON.stringify(clients)
  textarea(style='font-family: monospace') #{c}
