extends ../layout

append main

  nav.tabs(class='#{routeName[1]}')
    a.tabs__item.active(href='/configuration/services').
      Services
    a.tabs__item(href='/configuration/addresses').
      Addresses
    a.tabs__item(href='/configuration/payment').
      Payment details

  include ../components/configuration/address
  include ../components/configuration/payment

  blockquote #{req.user}
