extends ../layout

append main

  nav.tabs
    a.tabs__item.active.
      Services
    a.tabs__item.
      Addresses
    a.tabs__item.
      Payment details

  include ../components/config/address
  include ../components/config/payment

  blockquote #{req.user}
