extends ../base

append body

  main.design

    section
      h1 h1. The quick brown fox jumps over the lazy dog
      h2 h2. The quick brown fox jumps over the lazy dog
      h3 h3. The quick brown fox jumps over the lazy dog
      h4 h4. The quick brown fox jumps over the lazy dog
      h5 h5. The quick brown fox jumps over the lazy dog
      h6 h6. The quick brown fox jumps over the lazy dog
      p.
        Spend time on your craft, not chasing clients.
        Pay Parrot automates your billing invoices and ensures you get paid on time.

    section.home-section
      ul
        li
          button.button Regular button
        li
          button.button.button--primary Primary button
        li
          button.button.button--secondary Secondary button
