extends ../base

append body

  main.home

    header.home-hero
      .home-hero__container
        h1.
          Don't waste time chasing invoices. Automate them with Pay Parrot,
          and ensure you get paid on time, every time.

    section.home-section
      ul
        li
          button.button Regular button
        li
          button.button.button--primary Primary button
        li
          button.button.button--secondary Secondary button
