extends ../base

append body
  include ../blocks/header

  main

    header.top-header.boxed
      h1 Send Invoices &amp; Get Paid Faster
      p.
        Spend your time doing what you love, not on client management.
        Pay Parrot automates your invoice workflow and makes your computer chase your clients.

    h2 four dollar toast
    p.
      Next level keytar Schlitz, pop-up disrupt roof party chia. Slow-carb Tumblr four dollar toast, pug squid migas asymmetrical shabby chic gluten-free. Tote bag Godard blog deep v swag, crucifix brunch Pinterest PBR&B lo-fi Neutra narwhal. Wes Anderson fingerstache distillery, four dollar toast church-key direct trade flexitarian ethical wayfarers Neutra salvia drinking vinegar jean shorts.

    h3 Crucifix cold-pressed skateboard street art flannel vinyl.
    p Farm-to-table Banksy locavore sartorial single-origin coffee cronut.

    ul
      li
        button.button Regular button
      li
        button.button.button--primary Primary button
      li
        button.button.button--secondary Secondary button

block footer
  include ../blocks/footer
