extends ../base

prepend body
  form(method='post', action='/login')
    h1 Login
    label
      h3 Email
      input(type='email', name='email', required)
    label
      h3 Password
      input(type='password', name='password', required)
    button(type='submit') Submit


  form(method='post', action='/signup')
    h1 Signup
    label
      h3 Email
      input(type='email', name='email', required)
    label
      h3 Password
      input(type='password', name='password', required)
    button(type='submit') Submit

  if error
    pre.error= error
