extends ../layout

append main

  .tabs.me
    .tabs__title
      h1.h3 Details about you

    nav.tabs__nav(class='#{routeName[1]}')
      a.active(href='/me/services', data-target='skills') Your skills
      a(href='/me/addresses', data-target='mailing-address') Mailing address
      a(href='/me/payment', data-target='payment-methods') Payment methods

  include ../blocks/me/address
  include ../blocks/me/payment

  code #{req.user}
