extends ../layout

append main

  .tabs.tabs--alt.settings
    nav.tabs__nav
      a.active(data-target='account') Account
      a(data-target='billing') Billing
      a(data-target='support') Support

  //- Account settings
  section.account
    h2.h3 Account settings
    include ../blocks/settings/form
    code #{req.user}
