.site-header
  display flex
  align-items center
  justify-content space-between
  width 100%
  margin 1em auto
  padding 1em 4em

  &__logo
    display block
    line-height 0
    img
      height 55px
      padding 0 3px

  &__menu
    margin-left 1em
    p
      height 55px
      line-height 55px
