.login-form
  max-width 320px
  margin auto

  &__logo
    display block
    height 75px
    margin auto auto 3em

  form
    .form__item
      margin-bottom 1em
      .button:first-child
        margin-right 1em
