page = login

.{page}
  width inherit
  height inherit
  display flex
  justify-content center
  align-items center

.{page}__container
    width 100%
    max-width 360px

.{page} label
  margin-bottom 1em
