//- font
$font-serif = georgia, times, serif
$font-sans = 'Helvetica Neue', helvetica, arial, sans-serif

//- font size
$font-base = 1.6rem
$font-large = $font-base*1.5
$font-small = $font-base*0.75

//- headings
$font-heading-one = $font-base*3
$font-heading-two = $font-base*2
$font-heading-three = $font-base*1.5
$font-heading-four = $font-base*1.25
$font-heading-five = $font-base*1
$font-heading-six = $font-base*0.8

//- line height
$line-height-base = 1.6
$line-height-tight = $line-height-base*0.8
$line-height-spaced = $line-height-base*1.2

//- color
$color--blue = #205081
