// Main app fragment view
.app-fragment
  display flex
  width 100vw
  height 100vh
  overflow hidden

  &__item
    height inherit

  aside
    flex 0 0 241px

  main
    flex 1
    overflow-y scroll
