.login-form
  max-width 320px
  margin auto

  &__logo
    display block
    margin 3em auto 3em
    text-align center
    img
      height 75px

  form
    .form__item
      margin-bottom 1em
      .button:first-child
        margin-right 1em
