- var userId = req.user? req.user._id.toString(): undefined

doctype html
html(lang='en')
  head
    include components/head

  body(data-user-id=userId, class=routeName.join(' '))
    block body
    block footer

  //- SCRIPTS
  block scripts
    script(src='/assets/dist/index.js')
