- var userId = req.user? req.user._id.toString(): undefined

doctype html
html(lang='en')
  head
    include blocks/head

  body(data-user-id=userId, class=routeName.join(' '))
    block body
    block scripts
      script(src='/static/dist/index.js')
