extends ./base

block body
  include components/header

  if req.user
    .scaffold
      aside.scaffold__item
        include components/nav/main
        block aside
      main.scaffold__item
        block main

block footer
  include components/footer
